
@font-face {
    font-family: Oswald;
    src: url("fonts/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
    font-family: SpecialGothic;
    src: url("fonts/SpecialGothic/SpecialGothicExpandedOne-Regular.ttf");
}

@font-face {
    font-family: NotoSansMono;
    src: url("fonts/Noto_Sans_Mono/NotoSansMono-VariableFont_wdth\,wght.ttf");
}

:root {
    --main-font: SpecialGothic;
    --display-box-font: NotoSansMono;


    --main-color: #344e41; 
    --accent-color: #588157;
    --accent-color-two: #a3b18a;
    --contrast-color: #e3d5ca;

    --screen-color: #e3d5ca;
}

.hidden {
    display: none !important;
}

*{
    font-family: var(--main-font);
}

body {
    display: flex;
    justify-content: center;
}

p {
    color: var(--main-color);
}

#outerContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 98vh;
    width: 95vw;

    background-color: var(--main-color);

    border-radius: 15px;
    border: medium darkgray solid;
}

#leftContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

    width: 70%;
    height: 100%;
}

#rightContainer {
    display: flex;
    flex-direction: column;
    gap: 25px;

    justify-content: space-evenly;
    align-items: center;

    width: 30%;
    height: 100%;
}

#logo {
    max-width: 100px;
    filter: brightness(0) saturate(100%) invert(48%) 
        sepia(31%) saturate(453%) hue-rotate(70deg) brightness(89%) contrast(89%);
}

#titleBox {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    gap: 30px;

    width: 100%;
}

#title {
    margin: 0px;
    padding: 0px;

    color: var(--contrast-color);
    
    font-size: 4rem;
}

#screenContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    height: 75%;
    width: 90%;

    background-color: var(--contrast-color);

    margin: 0px;
    padding: 0px;

    border: medium darkgray solid;
    border-radius: 15px;
}

/*KeypadStylings*/
#keypad {
    display: flex;

    flex-direction: column;
    justify-content: space-evenly;

    text-align: center;

    height: 50%;
    width: 95%;

    border-radius: 12px;

}
#keypad > h1 {
    font-size: 1rem;
    color: var(--contrast-color);

}

.keypadRow {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: auto;
}

.keypadButtons {
    height: 90%;
    width: 30%;

    font-size: 35px;

    background-color: var(--accent-color);
    color: var(--contrast-color);

    border-radius: 12px;
    border: medium darkgray solid;

    box-shadow: 3px 3px black;
}

.keypadButtons:hover {
    background-color: var(--accent-color-two);

    box-shadow: none;
}


#yes, #no {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cardSlot {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20px;
    width: 50%;

    text-align: center;

    border: thin black solid;
    border-radius: 15px;

    background-color: black;
}

#cashSlot {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 10%;
    width: 90%;

    text-align: center;

    border: thin black solid;
    border-radius: 12px;

    background-color: black;
}

#yesSymbol {
    max-width: 100px;

    filter: brightness(0) saturate(100%) invert(54%) sepia(51%) 
        saturate(650%) hue-rotate(66deg) brightness(95%) contrast(92%);
}
#noSymbol {
    max-width: 100px;

    filter: brightness(0) saturate(100%) invert(33%) sepia(13%) 
        saturate(4521%) hue-rotate(325deg) brightness(87%) contrast(95%);

}

#topBox {
    width:90%;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    gap: 60px;

    height: 50px;
}

#topBox > p {
    font-family: var(--display-box-font);
    font-size: 1.5rem;
}
#location {
    padding-left: 35px;
}

/*pin entry screen*/
#pinEntryScreen {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#pinEntryScreen > h1 {
    font-size: 3rem;
    color: var(--main-color);
}

#pinEntryScreen > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 150px;

    border: thin black solid;
}

#pinEntryTextDisplay {
    font-size: 3rem;
    color: black;
}

/*lock out screen*/
#lockOutScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    width: 100%;
}
#lockOutScreen > h1 {
    font-size: 5rem;
    color: var(--main-color);
}


/*Home / options screen*/
#homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 30px;
    
    height: 100%;
    width: 100%;
}

#homeScreen > button {
    height: 20%;
    width: 35%;

    font-size: 35px;

    background-color: var(--accent-color);
    color: var(--contrast-color);

    border-radius: 12px;
    border: medium darkgray solid;

    box-shadow: 3px 3px black;

}

#homeScreen > button:hover {
    background-color: var(--accent-color-two);

    box-shadow: none;
}

/*balance display screen*/
#balanceScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 30px;

    height: 100%;
    width: 100%;
}

#balanceScreen > h1 {
    font-size: 5rem;
    color: var(--main-color);
}

/*withdraw screen*/
#withdrawScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 30px;

    height: 100%;
    width: 100%;
}
#quickWithdrawContainer {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap row;
    
    height: 80%;
    width: 80%;
}
#quickWithdrawContainer > button {
    height: 20%;
    width: 35%;

    font-size: 35px;

    background-color: var(--accent-color);
    color: var(--contrast-color);

    border-radius: 12px;
    border: medium darkgray solid;

    box-shadow: 3px 3px black;
}

#quickWithdrawContainer > button:hover {
    background-color: var(--accent-color-two);

    box-shadow: none;
}

/*Custom Withdraw Screen*/
#customWithdrawScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 30px;

    height: 100%;
    width: 100%;
}

#customWithdrawScreen > h1 {
    font-size: 4rem;
    color: var(--main-color);
}

/*Pin change Screen*/

#pinChangeScreen {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    gap: 15px;

    height: 100%;
    width: 100%;
}

#pinChangeScreen > div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 50px;
    width: 150px;

    border: thin black solid;
}

#pinChangeScreen > h1 {
    font-size: 2.5rem;
    color: var(--main-color);
}

#newPinEntryDisplay, #confirmNewPinEntryDisplay {
    font-size: 3rem;
    color: black;
}